*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  min-block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  margin: 133px 30px;
  block-size: 534px;
  min-inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  block-size: 386px;
  inline-size: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  max-width: 711px;
  max-height: 54px;
  align-items: center;
  gap: 40px;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  max-height: 54px;
  inline-size: 100%;
  border: none;
}
.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-bottom: 5px;
}
.search-form__label {
  display: flex;
  width: fit-content;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  appearance: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.search-form__textfield {
  width: 100%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  border-left: none;
  border-right: none;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid white;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 1px 0 0 1px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.button {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background: #1b1919;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button:active {
  background: rgb(84, 80, 80);
  text-decoration: none;
  transition: all 0.8s ease-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 20px;
  padding: 6px 73.5px;
}
.content__details {
  inline-size: 100%;
  box-sizing: 100%;
}
.title {
  padding-bottom: 26px;
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1b1919 #1b1919;
  block-size: 298px;
}

.cards-list-item-template {
  max-width: 298px;
}
.content__list-item {
  display: flex;
  max-width: 298px;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link_current {
  background: rgb(84, 80, 80);
}
.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
.content__card-link:active {
  background: rgb(84, 80, 80);
  text-decoration: none;
  transition: all 0.8s ease-out;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-description-container {
  inline-size: 200px;
  block-size: 101px;
}
.content__video-card-title {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.content__video-card-description {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 4px;
}
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 101px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 5px 146.5px;
  white-space: nowrap;
}
