*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 133px auto;
  max-width: 1140px;
  max-height: 534px;
  gap: 32px;
}
.result {
  min-height: 534px;
}

.result__video-container {
  position: relative;
  min-height: 386px;
  max-width: 711px;
  margin-top: 75px;
  margin-bottom: 16px;
}

.result__video {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
justify-content: space-between;
  min-width: 711px;
  min-height: 54px;
  align-items: flex-start;
  gap: 40px;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  max-height: 54px;
  inline-size: 100%;
  border: none;
  
}
.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-bottom: 5px;
  
}
.search-form__label {
  display: flex;
  
 
  
}
.search-form__label-text {
color: rgba(255, 255, 255, 0.7);
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
}
.visually-hidden {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.search-form__textfield {
  width: 100%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.7);
text-align: left;
  border-left: none;
  border-right: none;
  inline-size: 225px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__checkbox {
  display: flex;
  inline-size: 100%;
  gap: 15px;
  
}
.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid white;
  margin-right: 5px;
  margin-top: 5px;

}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 15px;
  height: 15px;
  margin: 1px 0 0 1px;
}
.button {
  color: rgb(255, 255, 255);
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: 1px solid rgb(255, 255, 255);
background: #1b1919;
}
.search-form__submit-button {
  margin-top: 20px;
  padding: 6px 73.5px; 
}
.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}
.title {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 298px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1b1919 #1b1919;
  min-width: 399px;
}
.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
  max-width: 298px;
}
.content__list-item {
  display: flex;
  max-width: 298px;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}
.content__card-link {
  display: block;
  text-decoration: none;
}
.content__video-card {
  display: flex;
}
.content__video-card-description-container {
  min-width: 200px;
  min-height: 103px;
}
.content__video-card-title {
  color: rgb(255, 255, 255);
font-family: Oswald;
font-size: 30px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
margin-bottom: 6px;
}
.content__video-card-description {
  color: rgb(255, 255, 255);
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-weight: 400;
line-height: 16.2px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 4px;
}
.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}
.more-button-template {
  
}
.more-button {
  padding: 6px 146.5px;
  white-space: nowrap;
}
.error-template {
}
.error {
}
.error__title {
}
